## GITATTRIBUTES FOR WEB PROJECTS
#
# These settings are for any web project.
#
# Details per file setting:
#   text    These files should be normalized (i.e. convert CRLF to LF).
#   binary  These files are binary and should be left untouched.
#
# Note that binary is a macro for -text -diff.
######################################################################

## AUTO-DETECT
##   Handle line endings automatically for files detected as
##   text and leave all files detected as binary untouched.
##   This will handle all files NOT defined below.
* text=auto

## SOURCE CODE
*.css      text
*.html     text
*.js       text
*.xml      text

## DOCUMENTATION
*.md         text
LICENSE      text
*README*     text

## CONFIGS
.editorconfig   text
.gitattributes  text
.gitconfig      text
.gitignore      text

## GRAPHICS
*.png  binary

## FONTS
*.ttf   binary
*.eot   binary
*.otf   binary
*.woff  binary
*.woff2 binary
